.banner__img{
    width: 100%;
    position: relative;
    height: 680px;
    background-image: url(../../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

