.banner__titulo {
    font-family: Pacifico, cursive;
    color: white;
    font-size: 81px;
    position: absolute;
    left: 10%;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.85);
    top: 50%;
}

@media screen and (min-width: 0) {
    .banner__titulo{
        font-size: 3.6rem;
    }
}

@media screen and (min-width: 768px) {
    .banner__titulo{
        font-size: 6rem;
    }
}