.sobre__titulo{
    font-family: pacifico, cursive;
    font-size: 60px;
    color: darkred;
}

@media screen and (min-width: 0) {
    .sobre__titulo{
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre__titulo{
        padding: 1rem;
        font-size: 3rem;
    }
}